@model ShoppingListGraph.Models.ThingsToBuy


@{
    ViewBag.Current = "ShoppingList";
}

<h1>Shopping list</h1>
@using (Html.BeginForm("Index", "ShoppingList", FormMethod.Post))
{
    @Html.HiddenFor(m => m.Id)

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Status</th>
                <th scope="col">Item</th>
                <th scope="col">High priority</th>
                @*<th scope="col">Created</th>*@
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Elements.Count; i++)
            {
                <tr>

                    <td>
                        @Html.HiddenFor(m => m.Elements[i].Id)
                        @Html.CheckBoxFor(m => m.Elements[i].Completed,
                                new
                                     {
                                         @class = "chkCompleted",
                                    onclick = "this.form.submit();"
                                })
                    </td>
                    <td class=@String.Format("{0}", Model.Elements[i].Completed ? "titleCompleted" : string.Empty)>
                        @Html.DisplayFor(m => m.Elements[i].Title)
                    </td>
                    <td>
                        @Html.CheckBoxFor(m => m.Elements[i].HighPriority,
                                new
                                     {
                                         @class = "chkHighPriority",
                                    onclick = "this.form.submit();"
                                })
                    </td>
                    @*<td>@Convert.ToDateTime(item.CreatedDateTime).ToString("M/d/yy h:mm tt")</td>*@
                </tr>
            }
        </tbody>
    </table>
}